{% load static %}
{% load fixorder_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {% comment %} bootstrap {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<!--<ul>
    <img src="{% logo_url %}" alt="FixOrder" height="100">
    {% filled_fields_verbose 1 as fields_verbose %}
    {% for verbose_name, value in fields_verbose.items %}
        <li>{{ value }}</li>
    {% endfor %}
</ul>-->

<table>
	<tbody>
	<tr>
			<td rowspan="5"><img src="{% logo_url %}" alt="FixOrder" height="100"></td>
    {% filled_fields_verbose 1 as fields_verbose %}
    {% for verbose_name, value in fields_verbose.items %}
		<td colspan="4">{{ value }}</td>
		</tr>
    {% endfor %}
    </table>



{% block doccontent %}
{% endblock doccontent %}



<p><input  id="printPageButton" type="submit" value="Печатать" class="btn btn-outline-success" onClick="window.print();">
<a id="IndexPageButton" href="/" class="btn btn-outline-primary">На главную</a></p>
</body>
</html>