{% load static %}
{% load fixorder_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {% comment %} bootstrap {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
<table>
	<tbody>
	<tr>
			<td rowspan="5"><img src="{% logo_url %}" alt="FixOrder" height="100"></td>
    {% filled_fields_verbose 1 as fields_verbose %}
    {% for verbose_name, value in fields_verbose.items %}
        {% if verbose_name == "Telegram" or variable == "Vibe" or variable == "WhatsUp" %}
		<td colspan="4">{{verbose_name}}: {{ value }}</td>
        {% else %}
        <td colspan="4">{{ value }}</td>
        {% endif%}
		</tr>
    {% endfor %}
    </table>



{% block doccontent %}
{% endblock doccontent %}



<p><input  id="printPageButton" type="submit" value="Печатать" class="btn btn-outline-success" onClick="window.print();">
<a id="IndexPageButton" href="/" class="btn btn-outline-primary">На главную</a></p>
</div>
</body>
</html>