{% extends 'fixorder/basedoc.html' %}

{% block doccontent %}
<h1>{{ title }}</h1>

<table class="table caption-top">
        <caption>Данные о заказе:</caption>
    <thead>
    <tr><td>ФИО заказчика</td><td>{{ cm.client_name }}</td></tr>
    <tr><td>Телефон заказчика</td><td>{{ cm.client_phone }}</td></tr>
    {% if cm.client_telegram %}<tr><td>Телеграм заказчика</td><td>{{ cm.client_telegram }}</td></tr>{% endif %}
    {% if cm.client_whatsapp %}<tr><td>WhatsApp заказчика</td><td>{{ cm.client_whatsapp }}</td></tr>{% endif %}
    {% if cm.client_viber %}<tr><td>Viber заказчика</td><td>{{ cm.client_viber }}</td></tr>{% endif %}
    <tr><td>Устройство</td><td>{{ cm.device }}</td></tr>
    <tr><td>Заявленная неисправность</td><td>{{ cm.defect }}</td></tr>
    {% if cm.device_exterior %}<tr><td>Внешний вид устройства</td><td>{{ cm.device_exterior }}</td></tr>{% endif %}
    {% if cm.device_password %}<tr><td>Пароль на устройстве</td><td>{{ cm.device_password }}</td></tr>{% endif %}
    {% if cm.initial_price %}<tr><td>Цена ремонта ориентировочно, руб.</td><td>{{ cm.initial_price }}</td></tr>{% endif %}
    {% if cm.prepaid %}<tr><td>Внесено предоплаты, руб.</td><td>{{ cm.prepaid }}</td></tr>{% endif %}
    {% if cm.time_demand %}<tr><td>Время выполнения ориентировочно</td><td>{{ cm.time_demand }}</td></tr>{% endif %}
    {% if cm.notes %}<tr><td>Заметки</td><td>{{ cm.notes }}</td></tr>{% endif %}
    <tr><td>Дата и время приемки</td><td>{{ cm.time_create }}</td></tr>
</table>
<p>Исполнитель {{ cm.executor.name }}_________________  Заказчик {{ cm.order_client.name }}_________________</p>
{% endblock doccontent %}