{% extends 'fixorder/basedoc.html' %}

{% block doccontent %}
<h1>{{ title }}</h1>

<table class="table caption-top" style="font-size: 12px;">
        <caption></caption>
    <thead>
    <tr><td>ФИО заказчика</td><td>{{ cm.order_client.name }}</td></tr>
    <tr><td>Телефон заказчика</td><td>{{ cm.order_client.phone }}{% if cm.order_client.phone1 %} ; {{ cm.order_client.phone1 }}{% endif %}</td></tr>
    {% if cm.order_client.telegram %}<tr><td>Телеграм заказчика</td><td>{{ cm.order_client.telegram }}</td></tr>{% endif %}
    {% if cm.order_client.whatsapp %}<tr><td>WhatsApp заказчика</td><td>{{ cm.order_client.whatsapp }}</td></tr>{% endif %}
    {% if cm.order_client.viber %}<tr><td>Viber заказчика</td><td>{{ cm.order_client.viber }}</td></tr>{% endif %}
    <tr><td>Устройство</td><td>{{ cm.device }}</td></tr>
    <tr><td>Заявленная неисправность</td><td>{{ cm.defect }}</td></tr>
    {% if cm.device_exterior %}<tr><td>Внешний вид устройства</td><td>{{ cm.device_exterior }}</td></tr>{% endif %}
    {% if cm.device_password %}<tr><td>Пароль на устройстве</td><td>{{ cm.device_password }}</td></tr>{% endif %}
    {% if cm.initial_price %}<tr><td>Цена ремонта ориентировочно, руб.</td><td>{{ cm.initial_price }}</td></tr>{% endif %}
    {% if cm.prepaid %}<tr><td>Внесено предоплаты, руб.</td><td>{{ cm.prepaid }}</td></tr>{% endif %}
    {% if cm.time_demand %}<tr><td>Время выполнения ориентировочно</td><td>{{ cm.time_demand }}</td></tr>{% endif %}
    {% if cm.notes %}<tr><td>Заметки</td><td>{{ cm.notes }}</td></tr>{% endif %}
    <tr><td>Дата и время приемки</td><td>{{ cm.time_create }}</td></tr>
</table>
<p><b>Принял:</b> {{ cm.executor.name }}_________________  <b>Заказчик:</b>  {{ cm.order_client.name }}_________________  </p>
<p style="font-size: 10px;">{{ income_data|safe }}</p>
{% endblock doccontent %}

