{% load static %}
<link href="{% static 'css/select2.min.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="alert alert-primary" role="alert">
<form method="post">{% csrf_token %}
<h2>Вы точно хотите удалить {{ object.name }} {{ object.phone }}? Данные о его заказах сохранятся</h2>
    <input type="submit" value="Точно хочу удалить" class="btn btn-outline-danger">
</form>
<a href="/" class="btn btn-outline-primary">Отмена</a>
</div>
</body>
</html>