{% extends 'fixorder/base.html' %}
{% load static %}
{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <table class="table table-hover table-sm w-auto">
       {{ form.as_table }}
   </table>
{% for f in form %}


    <div class="form-error">{{ f.errors }}</div>
    <div class="form-error">{{ form.non_field_errors }}</div>


 <div class="form-group">

            <label class="form-label">{{ f.label }}</label>
     <div class="form-control">
            {{ f }}
          </div>
            <div class="form-error">{{ f.errors }}</div>
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
</form>

<!-- Элемент для предварительного просмотра изображения -->
<img id="preview" src="#" alt="Предварительный просмотр логотипа" style="display: none; max-width: 200px; margin-top: 20px;">
<script src="{% static 'js/logopreviewer.js'  %}"></script>

{% endblock %}
