{% extends 'fixorder/base.html' %}
{% block title %}{{title}}{% endblock title %}

{% block content %}
<p><a href="{% url 'newemployee' %}" class="btn btn-outline-primary">Добавить работника</a></p>

<!--делаем поиск-->
{% include 'fixorder/search_with_checkbox.html' %}
<!--сделали поиск -->
<br>


    {% for mye in my_employees %}

<li class="list-group-item">
    <div class="container">
        <div class="row">
            <div class="col-2">{{ mye.name }}</div>
            <div class="col-2">{{ mye.position }}</div>


{% if mye.status == "1" %}
    Работает с {{ mye.time_hire }}
{% elif mye.status == "3" %}
    Не работает с {{ mye.time_fire }}
{% elif mye.status == "2" %}
    Сейчас отсутствует
{% else %}
    Статус сотрудника неизвестен
{% endif %}

                    <p>
            <div class="col-2">
                <a href="{% url 'editemployee' mye.pk %}" class="btn btn-outline-primary">Редактировать</a>
            </div>
            <div class="col-2">
                <a href="{% url 'deleteemployee' mye.pk %}" class="btn btn-outline-danger">Удалить</a>
            </div>
                        <div class="col-2">
                <a href="{% url 'fireemployee' mye.pk %}" class="btn btn-warning">Уволить</a>
            </div>
            </p>
             <hr>


        </div>
    </div>
</li>


{% endfor %}

{% endblock content %}