{% extends 'fixorder/base.html' %}
{% block content %}
{% load static %}
<link href="{% static 'css/select2.min.css' %}" rel="stylesheet" />
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <br>
    <table class="table table-hover table-sm w-auto">
        {{ form.as_table }}
    </table>

    <div class="form-error">{{ form.errors }}</div>
    <div class="form-error">{{ form.non_field_errors }}</div>
    <button type="submit" class="btn btn-outline-success">Создать</button>
</form>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        console.log('DOM fully loaded and parsed');

        // Инициализация Select2
        const clientSelect = $('#client-select').select2();

        // Добавление события change после инициализации Select2
        clientSelect.on('change', function() {
            const clientId = this.value;
            console.log(`Selected client ID: ${clientId}`);
            if (clientId) {
                fetch(`/api/clients/${clientId}/`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log('Received data:', data);
                        document.getElementById('client-name').value = data.name || '';
                        document.getElementById('client-phone').value = data.phone || '';
                        document.getElementById('client-telegram').value = data.telegram || '';
                        document.getElementById('client-viber').value = data.viber || '';
                        document.getElementById('client-whatsapp').value = data.whatsapp || '';
                    })
                    .catch(error => {
                        console.error('There was a problem with the fetch operation:', error);
                    });
            } else {
                document.getElementById('client-name').value = '';
                document.getElementById('client-phone').value = '';
                document.getElementById('client-telegram').value = '';
                document.getElementById('client-viber').value = '';
                document.getElementById('client-whatsapp').value = '';
            }
        });
    });
</script>



{% endblock %}
