{% extends 'fixorder/base.html' %}
{% block title %}{{title}}{% endblock title%}

{% block content %}


<!--делаем поиск-->
      <form class="d-flex" role="search" method='GET'>
        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search" name='q' value='{{ request.GET.q }}'>
          <br>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name='cb' value="1" id="flexCheckDefault"  {% if request.GET.cb %} checked {% endif %}>
            <label class="form-check-label" for="flexCheckDefault">
            Только активные заказы
            </label>
            </div>
          <button class="btn btn-outline-success" type="submit">Поиск</button>
      </form>
<!--сделали поиск -->

<ul>
     <hr>
	{% for myo in my_orders %}
    		<li><div class="article-panel">
	<p>Статус: {{myo.status}} | Устройство: {{myo.device}} | {{myo.defect}} | клиент: {{myo.client_name}} {{myo.client_phone}}
        {% if myo.initial_price %}
                   | {{myo.initial_price}}
				{% endif %}
        </p>
	<p>Дата поступления заказа: {{myo.time_create|date:"d-m-Y H:i:s"}}
<a href="{{ myo.get_absolute_url }}" class="btn btn-outline-primary">Смотреть/обработать заказ</a>
<a href="{{ myo.get_warrantydoc_url }}" class="btn btn-outline-success">Посмотреть/распечатать гарантийку</a>
<a href="{{ myo.get_commingdoc_url }}" class="btn btn-outline-primary">Посмотреть/распечатать приемный лист</a>
    </p>
    </div>
 <hr>
	{% endfor %}
</ul>
{% endblock %}
