      <form class="d-flex" role="search" method='GET'>
        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search" name='q' value='{{ request.GET.q }}'>
          <br>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name='cb' value="1" id="flexCheckDefault"  {% if request.GET.cb %} checked {% endif %}>
            <label class="form-check-label" for="flexCheckDefault">
            Только активные
            </label>
            </div>
          <button class="btn btn-outline-success" type="submit">Поиск</button>
      </form>