{% extends 'fixorder/base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ header }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <h3>Работы</h3>
        {{ formset.management_form }}
        <div id="work-formset">
            {% for form in formset.forms %}
                {% if form.instance.pk %}
                    <div class="work-form">
                        {{ form.as_p }}
                        <button type="button" class="remove-work">Удалить работу</button>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div id="empty-form" style="display: none;">
            {{ formset.empty_form.as_p }}
        </div>

        <button type="button" id="add-work-btn">Добавить работу</button>
        <button type="submit">Сохранить</button>
    </form>

    <script src="{% static 'js/add_new_work.js' %}"></script>
</body>
</html>

{% endblock %}
